<div class="blog">
    <div class="container">
        {% include 'breadcrumb' %}
        <h1 class="blog__t">
            {{ article.title }}
        </h1>
        <div class="blog__meta">
            <div class="blog__date">{{ article.created_at | date: "%b %d, %Y" }}</div>
            <div class="list list--tags list--tags-small ml-auto">
                {% for tag in article.tags %}
                    {% assign tag_url = '/blog/tag/' | append: tag  %}
                    <a class="list__item" href="{{ tag_url | absolute_url }}">{{ "blogs.tags." | append: tag | t }}</a>
                {% endfor %}
            </div>
        </div>
        <!-- Blog main -->
        <div class="blog-main">
            <div class="blog-content">
                {% if article.meta_fields.stickedOverlayColor != null and article.meta_fields.stickedOverlayColor != '' %}
                <style>
                    .blog-hero::after {
                        background: -moz-linear-gradient(top,rgba(0,0,0,0),{{article.meta_fields.stickedOverlayColor}});
                        background: -webkit-gradient(left top,left bottom,color-stop(rgba(0,0,0,0),color-stop({{article.meta_fields.stickedOverlayColor}})));
                        background: -webkit-linear-gradient(top,rgba(0,0,0,0),{{article.meta_fields.stickedOverlayColor}});
                        background: -o-linear-gradient(top,rgba(0,0,0,0),{{article.meta_fields.stickedOverlayColor}});
                        background: -ms-linear-gradient(top,rgba(0,0,0,0),{{article.meta_fields.stickedOverlayColor}});
                        background: linear-gradient(to bottom,rgba(0,0,0,0),{{article.meta_fields.stickedOverlayColor}});
                    }
                </style>
                {% endif %}
                <div class="blog-hero lazyload" data-bg="{% if article.image_url != '' %}{{ article.image_url | image_url: 800 352 }}{% else %}blue-abstract-background.jpg{% endif %}"></div>
                {% include 'json-blocks' page: article -%}
                <div class="block__inner container">
                    <div class="block__t">Share. Spread tech knowledge & news:</div>
                </div>
                <div class="list list--socials">
                    {% include 'blog-socials' article: article %}
                </div>
                {% include 'article-author' article_author: page_settings.author -%}
                <div class="blog__meta">
                    <div class="list list--tags list--tags-small">
                        {% for tag in article.tags %}
                            {% assign tag_url = '/blog/tag/' | append: tag  %}
                            <a class="list__item" href="{{ tag_url | absolute_url }}">{{ "blogs.tags." | append: tag | t }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% include 'blog-subscribe' cssClass: 'collapsed', article: article %}
        </div>
        <!-- End Blog main -->
    </div>
</div>
