<div class="blog">
    <div class="container">
        {% include 'breadcrumb' %}
    </div>
    <div class="blog__meta">
        <div class="blog__date">{{ article.created_at | date: "%b %d, %Y" }}</div>
        <div class="list list--tags list--tags-small ml-auto">
            {% for tag in article.tags %}
                {% assign tag_url = '/blog/tag/' | append: tag  %}
                <a class="list__item" href="{{ tag_url | absolute_url }}">{{ "blogs.tags." | append: tag | t }}</a>
            {% endfor %}
        </div>
    </div>
    <!-- Blog main -->
    <div class="blog-main">
        <div class="block blog--cover">
            <div class="block__inner container">
                <h1 class="blog__t d-flex justify-content-center">
                    {{ article.meta_fields.articleTitle }}
                </h1>
            </div>
            {% assign cover_style = '' %}
            {% if article.meta_fields.articleTitleBackgroundColor != blank and article.meta_fields.articleTitleBackgroundColor != '' %}
                {% assign cover_style = cover_style | append: 'background: {{article.meta_fields.articleTitleBackgroundColor}};' %}
            {% endif %}
            {% if article.meta_fields.articleTitleBackgroundHeight != blank and article.meta_fields.articleTitleBackgroundHeight != '' %}
                {% assign cover_style = cover_style | append: 'height: {{article.meta_fields.articleTitleBackgroundHeight}}px;' %}
            {% endif %}
            {% if cover_style != '' %}
            <style>
                .blog--cover {
                    height: {{article.meta_fields.articleTitleBackgroundHeight}}px;
                }
                .blog--cover:after {
                    {{cover_style | render}}
                }
            </style>
            {% endif %}
        </div>
        {% assign need_tocca = true %}
        <div class="blog-content ml-auto mr-auto">
            <div class="d-flex flex-wrap justify-content-center">
                <div class="col col-lg-4 col-xl-2 d-none d-xl-block">
                    {% if article.meta_fields.usefulLinks != blank and article.meta_fields.usefulLinks.size > 0 %}
                        {% assign need_tocca = true %}
                        <div class="useful-links position-sticky row justify-content-center ml-auto mr-auto" style="opacity:0">
                            <div class="useful-links__inner ml-auto mr-auto font-helvetica font-weight-normal break-word">
                                <div class="pb-4">Useful links:</div>
                                {% for link in article.meta_fields.usefulLinks %}
                                    <div>
                                        <a href="{{link.url}}">{{link.title}}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col col-lg col-xl-8">
                    {% include 'json-blocks' page: article -%}
                    {% include 'article-author' article_author: page_settings.author -%}
                    <div class="blog__meta">
                        <div class="list list--tags list--tags-small">
                            {% for tag in article.tags %}
                                {% assign tag_url = '/blog/tag/' | append: tag  %}
                                <a class="list__item" href="{{ tag_url | absolute_url }}">{{ "blogs.tags." | append: tag | t }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% include 'blog-subscribe' cssClass: 'collapsed', article: article %}
                </div>
                <div class="col col-lg-3 col-xl-2 d-none d-xl-block">
                    {% if article.meta_fields.articleRightSideBanner != blank and article.meta_fields.articleRightSideBanner and article.meta_fields.articleRightSideBanner.url  != '' %}
                    {% assign need_tocca = true %}
                    <div class="position-sticky banner" style="opacity:0">
                            <img src="{{article.meta_fields.articleRightSideBanner.url}}" />
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog main -->
</div>
{% include 'blog-recommended' %}
