<div id="{{block.__id}}" class="{% if block.topDivider == 'True' %} block--divider-top {% endif %} {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}">
    {% assign justify_content = '' %}
    {% if block.buttonAlignment == 'left' %}
        {% assign justify_content = 'align-self-start' %}
    {% endif %}
    {% if block.buttonAlignment == 'center' %}
        {% assign justify_content = 'align-self-center' %}
    {% endif %}
    {% if block.buttonAlignment == 'right' %}
        {% assign justify_content = 'align-self-end' %}
    {% endif %}
    <div class="block {{block.topPadding}} {{block.bottomPadding}}">
        <style>
            {% if block.imageHeight != '' %}
                @media (min-width: 767.98px) {
                    #{{block.__id}} .cta-background {
                        height: {{block.imageHeight}}px;
                    }
                }
            {% endif %}
            
            {% if block.imageHeightMobile != '' %}
                @media (max-width: 767.98px) {
                    #{{block.__id}} .cta-background {
                        height: {{block.imageHeightMobile}}px;
                    }
                }
            {% endif %}

            {% if block.titleFontFamily != '' %}
                #{{block.__id}} .cta-background {
                    font-family: {{block.titleFontFamily}};
                }
            {% endif %}
        </style>

        {% assign background_padding = 'padding:{{block.backgroundTopPadding}}px {{block.backgroundRightPadding}}px {{block.backgroundBottomPadding}}px {{block.backgroundLeftPadding}}px;' | render %}
        <div class="block__inner container cta-background d-flex flex-column" style="background-image:url({{block.background.url}});{{image_height}}{{background_padding}}">
            {% if block.title != '' %}
                {% include 'seo-text' tag: block.titleSeoTag, text: block.title, class: 'block__t' %}
            {% endif %}
            {% include 'block-buttons' blockClass: justify_content, firstBtn: block.firstButton, secondBtn: block.secondButton %}
        </div>
    </div>
</div>