<div id="{{ block.__id }}" class="{% if block.style == 'dark' %} section--gray {% endif %}
    {{block.topPadding}} {{block.bottomPadding}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}"
    {% include 'block-background-style' %}>
    <div class="blog">
        <div class="posts __responsive container">
            {% if block.title != '' %}
            <h2>{{ block.title }}</h2>
            {% endif %}
          	{% assign border_color = '#d8d8d8' %}
            {% if block.borderColor != '' %}
          		{% assign border_color = block.borderColor %}
                <style>
                    #{{block.__id}} .list--posts .list__item .list__bg {
                        border: 1px solid {{border_color}};
                        border-bottom: none;
                    }
                    
                    #{{block.__id}} .list--posts .list__item .list__info {
                        border: 1px solid {{border_color}};
                        border-top: none;
                    }
                </style>
            {% endif %}
            <div class="list list--posts" data-page-size="{{block.count}}">
                {% if block.itemsType == 'fixed-items' %}
                    {% for link_text in block.items %}
                        {% assign article = pages | where: 'permalink', 'contains', link_text.text | first %}
                        {% if article %}
                            {% include 'article-preview' %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if block.itemsType == 'query' %}
                    {% if block.sourceType == 'blog' %}
                        {% if block.queryType == 'by-author' %}
                            {% for blog in blogs %}
                                {% for article in blog.articles | sort_list: 'publishedAt:desc' %}
                                    {% if article.meta_info.author and article.meta_info.author.lastName == block.author.lastName %}
                                        {% include 'article-preview' %}
                                        {% assign counter = counter | plus: 1 %}
                                        {% if counter == block.count %}
                                            {% break %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        {% if block.queryType == 'last-items' %}
                            {% for blog in blogs %}
                                {% assign articles = blog.articles | sort_list: 'publishedAt:desc' %}
                                {% for article in articles limit: block.count %}
                                    {% include 'article-preview' %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    {% if block.sourceType == 'case-studies' %}
                        {% assign studies = pages | where: 'permalink', 'contains', 'case-studies/' %}
                        {% for article in studies limit: block.count %}
                            {% include 'article-preview' %}
                        {% endfor %}
                    {% endif %}
                    {% if block.sourceType == 'white-papers' %}
                        {% assign white_papers = pages | where: 'permalink', 'contains', '-whitepaper' %}
                        {% for article in white_papers limit: block.count %}
                            {% include 'article-preview' %}
                        {% endfor %}
                    {% endif %}

                    {% if block.sourceType == 'glossary' %}
                        {% assign glossaries = pages | where: 'permalink', 'contains', 'glossary/' %}
                        {% assign glossary_links = linklists['Glossary'].links %}
                        {% if block.queryType == 'last-items' %}
                            {% for article in glossaries | sort_list: 'publishedAt:desc' %}
                                {% assign found_link = glossary_links | where: 'Url', 'contains', article.permalink | first %}
                                {% if found_link %}
                                    {% include 'article-preview' %}
                                    {% assign counter = counter | plus: 1 %}
                                    {% if counter == block.count %}
                                        {% break %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if block.queryType == 'by-author' %}
                            {% for article in glossaries | sort_list: 'publishedAt:desc' %}
                            {% assign found_link = glossary_links | where: 'Url', 'contains', article.permalink | first %}
                                {% if found_link and article.meta_info.author and article.meta_info.author.lastName == block.author.lastName %}
                                    {% include 'article-preview' %}
                                    {% assign counter = counter | plus: 1 %}
                                    {% if counter == block.count %}
                                        {% break %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
            {% if block.showOlderButton == 'True' %}
            	<a class="blog-older d-flex justify-content-center">See more</a>
          	{% endif %}
        </div>
    </div>
</div>
