<div id="{{ block.__id }}" class="block {{block.containerAlignment}} {{block.topPadding}} {{block.bottomPadding}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}
    {% if block.backgroundColorHex == '' %}{{block.backgroundColor}}{% endif %}"
    {% if block.backgroundColorHex != '' %}style="background-color:{{block.backgroundColorHex}}"{% endif %}">
    <div class="block__inner container">
        <div class="row justify-content-center">
            {% if block.title != '' %}
                <div class="block__text {{block.textAreaWidth}}">
                    {% include 'seo-text' tag: block.titleSeoTag, text: block.title, class: 'block__t' %}
                    
                    {% include 'headings' headings: block.headings %}
                </div>
            {% endif %}
        </div>

        {% if block.backgroundImage != '' and block.backgroundImage.url != '' %}
            <div class="block__space block__space--size-lg"></div>

            {% assign colorHex = block.imageOverlayColor %}
            {% if block.imageOverlayColorHex != '' %}
                {% assign colorHex = block.imageOverlayColorHex %}
            {% endif %}
            <style>
                #block-{{block.__id}}
                {
                    position: relative;
                    {% if block.fixedImageHeight != 'True' %}height:{{block.imageHeight}}px;{% endif %}
                }

                #block-{{block.__id}}:after
                {
                    background: {{colorHex}};
                    opacity:.7;
                    bottom: 0;
	                content: ' ';
	                left: 0;
	                position: absolute;
	                right: 0;
	                top: 0;
	                z-index: 5;
                    {% if block.fixedImageHeight != 'True' %}height: {{block.imageHeight}}px;{% endif %}
                }

                {% if block.imageHeightMobile != '' %}
                    @media (max-width: 767px) {
                        #block-{{block.__id}},
                        #block-{{block.__id}} img {
                            height: {{block.imageHeightMobile}}px;
                        }
                    }
                {% endif %}
            </style>

            {% if block.fixedImageWidth == 'True' %}
                <div id="block-{{block.__id}}">
                    <img class="block__pic block__pic--fixed lazyload {% if block.fixedImageHeight == 'True' %} block__cover-pic--fixed-height{% endif %}"
                    {% if block.fixedImageHeight == 'False' %} height="{{block.imageHeight}}" data-src="{{block.image.url | image_url: auto, block.imageHeight}}" {% else %} data-src="{{block.image.url | image_url}}" {% endif %} />
                </div>
            {% else %}
                <div id="block-{{block.__id}}" class="block__cover-pic lazyload {% if block.fixedImageHeight == 'True' %} block__cover-pic--fixed-height{% endif %}"
                    {% if block.backgroundImage != '' and block.backgroundImage.url != '' %}
                        {% if block.fixedImageHeight == 'False' %}
                            data-bg="{{block.image.url | image_url: auto, block.imageHeight}}"
                        {% else %}
                            data-bg="{{block.image.url | image_url}}"
                        {% endif %}
                    {% endif %}>
                </div>
            {% endif %}
        {% endif %}

        {% if block.subtitle != '' %}
            <div class="image-description">{{block.subtitle}}</div>
        {% endif %}
    </div>
</div>
