<div id="{{ block.__id }}" class="block {{block.containerAlignment}} {{block.backgroundColor}} {{block.topPadding}} {{block.bottomPadding}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}
    {% if block.backgroundColorHex == '' %}{{block.backgroundColor}}{% endif %}"
    {% include 'block-background-style' %}>
    <div class="block__inner container">
        {% if block.title != '' or headings.size > 0 or block.subtitle != '' %}
            <div class="row">
                <div class="block__text {{block.textAreaWidth}}">
                    {% if block.title != '' %}
                        {% include 'seo-text' tag: block.titleSeoTag, text: block.title, class: 'block__t' %}
                        <div class="block__space"></div>
                    {% endif %}
                
                    {% include 'headings' headings: block.headings %}

                    {% if block.subtitle != '' %}
                        {% include 'seo-text' tag: block.subtitleSeoTag, text: block.subtitle, class: 'block__descr' %}
                        <div class="block__space block__space--size-lg"></div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if block.logotypes.size > 0 %}
            <div class="list list-partners{% if block.containerAlignment == 'block--align-center' %} list-partners--centered justify-content-center{% endif %}{% if block.inlineOnMobile == 'True' %} list-partners--inline{% endif %}">
                {% for logotype in block.logotypes %}
                    <div class="list__item">
                        <div class="list__img">
                            {% if logotype.hoverImage != '' %}
                                {% assign logo_id = block.__id | append: '-logo-' | append: (forloop.index | plus: 1) %}
                                <style>
                                    #{{logo_id}} {
                                        height: {{logotype.height}}px;
                                        width: {{logotype.width}}px;
                                    }
                                    #{{logo_id}}::after {
                                        background-image: url({{logotype.image.url | image_url}});
                                    }
                                    #{{logo_id}}::before {
                                        background-image: url({{logotype.hoverImage.url | image_url}});
                                    }
                                </style>
                            {% endif %}

                            {% if logotype.url != '' %}
                                <a href="{{logotype.url | render}}" {% if logotype.openInNewTab == 'True' %}target="_blank"{% endif %}>
                                    {% if logotype.hoverImage != '' and logotype.hoverImage != blank %}
                                        <span id="{{logo_id}}" title="{{logotype.image.altText}}" class="list__pic list__pic-hover lazyload"></span>
                                    {% else %}
                                        <img data-src="{{ logotype.image.url | image_url }}" title="{{logotype.image.altText}}" {% if logotype.height != '' %}height="{{logotype.height}}"{% endif %} {% if logotype.width != '' %}width="{{logotype.width}}"{% endif %} class="list__pic lazyload" />
                                    {% endif %}
                                </a>
                            {% else %}
                                {% if logotype.hoverImage != '' and logotype.hoverImage != blank %}
                                    <span id="{{logo_id}}" title="{{logotype.image.altText}}" class="list__pic list__pic-hover lazyload"></span>
                                {% else %}
                                    <img data-src="{{ logotype.image.url | image_url }}" title="{{logotype.image.altText}}" {% if logotype.height != '' %}height="{{logotype.height}}"{% endif %} {% if logotype.width != '' %}width="{{logotype.width}}"{% endif %} class="list__pic lazyload" />
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if block.firstButton != '' and block.firstButton.urlText != '' %}
            <div class="block__space"></div>
            {% include 'block-buttons' firstBtn: item.firstButton, secondBtn: item.secondButton %}
        {% endif %}
    </div>
</div>
