<div id="{{block.__id}}" class="{% if block.topDivider == 'True' %} block--divider-top {% endif %} {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}">
    {% if block.linesColor != '' %}
        <style>
            #{{block.__id}} .block--quote .quote-line {
                background: {{block.linesColor}};
            }
        </style>
    {% endif %}
    <div class="block block--quote {{block.topPadding}} {{block.bottomPadding}} d-flex flex-column">
        <div class="quote-line quote-line--top"></div>
        <div class="quotes container text-center">{{block.text}}</div>
        <div class="quote-line quote-line--bottom"></div>
    </div>
</div>