{% include 'overlay-color-hex-style-with-counter' predefinedColor: block.backgroundOverlayColor, customColor: block.backgroundOverlayColorHex %}

<div id="{{ block.__id }}" class="{% if block.topDivider == 'True' %} block--divider-top {% endif %} {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}">
    <div class="block {{block.containerAlignment}}
        {% if block.useReducedPaddings == 'True' %}{{block.topPadding}}-reduced{% else %}{{block.topPadding}} {% endif %}
        {% if block.useReducedPaddings == 'True' %}{{block.bottomPadding}}-reduced{% else %}{{block.bottomPadding}} {% endif %}
        {% include 'background-settings' %}>
        <div class="block__inner container">
            <div class="row {% if block.containerAlignment == 'block--align-center' %} justify-content-center {% endif %} {% if block.containerAlignment == 'block--align-right' %} justify-content-end {% endif %}">
                <div class="block__text {{block.textAreaWidth}}">
                    {% if block.note != '' %}
                        {% include 'seo-text' tag: block.noteSeoTag, text: block.note, class: 'block__note' %}
                        <div class="block__space"></div>
                    {% endif %}

                    {% if block.title != '' %}
                        {% if block.titleFontWeightMedium == 'True' %}
                            {% include 'seo-text' tag: block.titleSeoTag, text: block.title, class: 'block__t', style: 'font-weight:500' %}
                        {% else %}
                            {% include 'seo-text' tag: block.titleSeoTag, text: block.title, class: 'block__t' %}
                        {% endif %}
                        <div class="block__space"></div>
                    {% endif %}

                    {% include 'headings' headings: block.headings %}

                    {% if block.subtitle != '' %}
                        {% include 'seo-text' tag: block.subtitleSeoTag, text: block.subtitle, class: 'block__descr' %}
                        <div class="block__space"></div>
                    {% endif %}

                    {% include 'block-buttons' firstBtn: block.firstButton, secondBtn: block.secondButton %}
                </div>
            </div>
        </div>
    </div>
</div>
