{%- include 'prepare_layout' -%}
<!DOCTYPE html>
<html ng-app="storefrontApp" lang="en">
<head>
    <link rel="preconnect" href="https://fastgull.io" />
    <link rel="preconnect" href="https://connect.facebook.net" />
    <link rel="preconnect" href="https://p.adsymptotic.com" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com/" />
    {% include 'google-tag-manager-head' %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Virto Commerce" />
    {% if page_description != '' %}
    <meta name="description" content="{{ page_description | escape }}" />
    {% else %}
    <meta name="description" content="VirtoCommerce is the enterprise-level Microsoft .NET ecommerce platform for complex ecommerce. Virto Commerce is a flexible B2B ecommerce solution based on Microsoft.NET that offers powerful tools for enterprise business users." />
    {% endif %}
    {% include 'meta-noindex' %}
    {% include 'meta-nofollow' %}
    <meta itemprop="name" content="Virto Commerce" />
    <meta itemprop="description" content="Multi Channel Ecommerce Platform | Enterprise Shopping Cart Software | VirtoCommerce" />
    <meta itemprop="image" content="{{ 'virtocommerce.png' | asset_url }}" />
    <meta name="google-site-verification" content="U2sXV9qIWUb-RceW8MpL-EfFnwvOqCo_jLWIDL8c6xI" />
    <link type="image/x-icon" rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" />
    {% if page_title != '' %}
    <title>{{ page_title }}</title>
    {% else %}
    <title>ASP.NET ecommerce platform - Virto Commerce</title>
    {% endif %}
    {{ 'styles.min.css?' | append css_version | asset_url | stylesheet_tag }}
    <link rel="preload" href="{{ 'jquery.fancybox.min.css' | asset_url }}" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="../../fonts/CircularStd-Book.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="../../fonts/CircularStd-Bold.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="../../fonts/CircularStd-Black.woff" as="font" type="font/woff" crossorigin>
    {% if template == 'index' %}
        <link rel="preload" href="https://ik.imagekit.io/je8lpsqkoi/assets/images/home/bg.png" as="image">
        <link rel="preload" href="https://ik.imagekit.io/je8lpsqkoi/assets/images/home/bg-mobile.svg" as="image">
    {% endif %}
    {{ content_for_header }}
    <base href="{{ '/' | absolute_url }}" />
    {% include 'canonical-urls' %}
    <script>
        var BASE_URL = '{{ "/" | full_url }}';
    </script>
    {% include 'url-segments-variables' %}
    {% include 'markup-corporation' %}
    {% include 'markup-website' %}
    {% if article %}
        {% include 'markup-blog' %}
    {% else %}
        {% include 'markup-webpage' %}
    {% endif %}
    {% include 'markup-opengraph' %}
    {% include 'twitter-cards-meta' %}
    {% include 'target-account-service-url' %}
    {% include 'hot-jar-script' %}
    {% if page_settings.backgroundImage != blank and page_settings.backgroundImage.url != '' %}
        <style>
            body {
                background: url({{page_settings.backgroundImage.url | image_url}});
                background-position: center;
                background-size: cover;
            }
        </style>
    {% endif %}
</head>
<body>
    {% include 'google-tag-manager-body' %}
    {% if can_track %}
    {% include 'gdpr-cookie-compliance' %}
    {% endif %}

    <div id="layout">
        {% if page == 'index' or template == 'index' %}
        <script>var l=document.getElementById('layout');if(l){var h=new Date().getHours();if(h<=7||h>=19)l.classList.value+='layout--dark';}</script>
        {% endif %}
        <div class="layout-canvas">
            <div class="swipe">
                <!-- TODO: Fix main-menu for mobile -->
                {% include 'main-menu-mobile' %}
            </div>
            <!-- TODO: getting started is main menu, must be renamed -->
            {% include 'getting-started' %}
            <article class="main" role="main">
                {% if template == 'page' or template == 'json-page' %}
                <div class="container">
                    {% comment %}
                    {% include 'breadcrumb' %}
                    {% endcomment %}
                </div>
                {% endif %}
                {{ content_for_layout }}
            </article>
            {% include 'footer' %}
        </div>
    </div>
    {{ 'main.min.js?' | append main_min_js_version | asset_url | script_tag }}
    {% include 'slider-asset' %}
    <script>
	    $(function () {
		    $('#cookieConsentAccept').on('click', function (event) {
			    event.preventDefault();
			    document.cookie = '{{consent_cookie }}';
			    $('.cookie-bar').hide();
		    });
	    });
    </script>

    {% if page == 'about-us' %}
	    {{ 'js/team.js' | asset_url | script_tag }}
    {% endif %}
</body>
</html>
