{%- if article_author.id -%}
    <div class="block block--align-left block--padding-top-none block--padding-bottom-none block--bg-white mt-5">
        <div class="block__inner container">
            <div class="list list-items list-items--cols-1 list-items--reviews">
                <div class="list__item">
                    <div class="list__img ">
                        <img src="{{ article_author.photoUrl }}" title="" class="list__pic d-flex ml-auto mr-auto">
                    </div>
                    <div class="list__t ml-auto mr-auto">
                        {{ article_author.firstName }} {{ article_author.lastName }}
                    </div>
                    <div class="list__pos list__pos--with-profile ml-auto mr-auto">
                        <a rel="nofollow" href="{{article_author.linkedinLink}}" target="_blank">
                            <img src="{{'images/icons/linkedin.svg' | asset_url}}" />
                        </a>
                        <span class="pos">{{article_author.jobTitle}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endif -%}