<div class="d-xl-flex mt-3 mt-xl-5">
    <div class="d-flex flex-column pr-xl-5">
        <a href="{{ article.url | absolute_url }}" class="sticked-title" style="color:black">{{article.meta_fields.articleTitle | replace: '&nbsp;', ' '}}</a>
        {% assign stickedFontColorApplied = article.meta_fields.stickedFontColor != null and article.meta_fields.stickedFontColor != '' %}
        <a href="{{ article.url | absolute_url }}" class="read-more mt-4 mt-xl-auto mb-3 align-self-start" {% if stickedFontColorApplied %}style="color:{{article.meta_fields.stickedFontColor}}"{% endif %}>Read More</a>
        <hr class="mb-3 mb-xl-0"></hr>
    </div>
    <div class="blog-post">
        {% if article.meta_fields.stickedOverlayColor != null and article.meta_fields.stickedOverlayColor != '' %}
        <style>
            .blog-post__bg::after {
                background: -moz-linear-gradient(top,rgba(0,0,0,0),{{article.meta_fields.stickedOverlayColor}});
                background: -webkit-gradient(left top,left bottom,color-stop(rgba(0,0,0,0),color-stop({{article.meta_fields.stickedOverlayColor}})));
                background: -webkit-linear-gradient(top,rgba(0,0,0,0),{{article.meta_fields.stickedOverlayColor}});
                background: -o-linear-gradient(top,rgba(0,0,0,0),{{article.meta_fields.stickedOverlayColor}});
                background: -ms-linear-gradient(top,rgba(0,0,0,0),{{article.meta_fields.stickedOverlayColor}});
                background: linear-gradient(to bottom,rgba(0,0,0,0),{{article.meta_fields.stickedOverlayColor}});
            }
        </style>
        {% endif %}
        <a href="{{ article.url | absolute_url }}" class="blog-post__bg lazyload" data-bg="{% if article.image_url != '' %}{{ article.image_url | image_url: 800, 560 }}{% else %}blue-abstract-background.jpg{% endif %}"></a>
    </div>
</div>