<header class="header">
    <div class="header-inner">
        <div class="align-items-center d-flex justify-content-start justify-content-lg-between">
            <div class="ml-4 ml-lg-5 mr-4 mr-lg-0">
                <a href="/">
                    <div class="header-logo">
                        Virtocommerce
                    </div>
                </a>
            </div>
            <div class="header-nav">
                <ul class="nav">
                    <!--tabs-->
                    {%- assign menu_tabs = linklists['main-menu'] -%}
                    {%- for tab in menu_tabs.links -%}
                    <li class="nav__item">
                        {%- assign tab_blocks = linklists[tab.url].links -%}
                        <a class="nav__link nav__link--dropdown" {% if tab_blocks.size == null %} href="{{tab.url}}{% endif %}">{{ tab.title }}</a>
                        {% if tab_blocks.size > 0 %}
                        <div class="dropdown-menu">
                            <div class="container">
                                <div class="row">
                                    <!--blocks-->
                                    {%- for current_block in tab_blocks -%}
                                    {%- if tab_blocks.size > 3 -%}
                                    <div class="col">
                                    {%- else -%}
                                    <div class="col-3">
                                    {%- endif -%}
                                        {%- assign current_links = linklists[current_block.url] -%}
                                        <div class="dropdown-menu__t">{{ current_block.title }}</div>
                                        <!--links-->
                                        {%- for link in current_links.links -%}
                                        <a class="dropdown-menu__item" href="{{ link.url }}">{{ link.title }}</a>
                                        {%- endfor -%}
                                    </div>
                                    {%- endfor -%}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
            <div class="mr-4 mr-lg-5">
                {% include 'gradient-button' url: '/request-demo', text: 'Request Demo', background: 'white' %}
            </div>
            <a class="header-toggle"></a>
        </div>
    </div>
</header>
