<div class="btn-gradient {{additionalClasses}}">
    {% assign additionalClasses = '' %}
    <a class="btn-gradient-link" href="{{url}}" {{attributes}}>{{text}}</a>
    <a class="btn-gradient-shape" {% if background != blank or background != '' %}style="background:{{background}}"{% endif %}>{{text}}</a>
</div>