{% assign text = text | replace: '&nbsp;', ' '  %}

{% if tag %}
    {% if tag != 'none' and tag != 'div' %}
        {% assign text = text | remove: '<p>' | remove: '</p>' | replace: '\n\n', '\n' | newline_to_br %}
    {% endif %}
{% endif %}

{% if tag != 'True' or tag == 'none' or tag == 'div' %}
    <div class="{{class}}"{% if style != '' %} style="{{style}}"{% endif %}>{{text}}</div>
{% else %}
    <{{tag}} class="{{class}}"{% if style != '' %} style="{{style}}"{% endif %}>{{text}}</{{tag}}>
{% endif %}
{% assign style = '' %}